
<div
	class="button-group"
	role="radiogroup"
	[attr.aria-label]="label"
>
	<label>{{label}}</label>

	<div	class="radio">
		<input
			type="radio"
			[attr.id] = "id + '-yes'"
			[attr.name] = "id"
			[attr.checked]="value === options.YES"
			(change)="activate(options.YES)"
		>
		<label
			[attr.for]="id + '-yes'"
			class="button button-yes"
		>
			Yes
		</label>
	</div>
	<div	class="radio">
		<input
			type="radio"
			[attr.id] = "id + '-no'"
			[attr.name] = "id"
			[attr.checked]="value === options.NO"
			(change)="activate(options.NO)"
		>
		<label
			[attr.for]="id + '-no'"
			class="button button-no"
		>
			No
		</label>
	</div>
</div>
