<div
	appKeyboardManager
	role="radiogroup"
	class="button-group"
	[attr.aria-laballedby]="id"
>

	<label [attr.id]="id" class="label">{{label}}</label>

	<button
		appKeyboardManagedItem
		role="radio"
		type="button"
		class="button button-yes"

		[attr.disabled]="isDisabled ? isDisabled : null"
		[attr.aria-checked]="value == options.YES"
		[class.button-pressed]="value === options.YES"

		(click)="activate(options.YES)"
		(focused)="activate(options.YES)"
	>
		Yes
	</button>

	<button
		appKeyboardManagedItem
		class="button button-no"
		role="radio"
		type="button"

		[attr.disabled]="isDisabled ? isDisabled : null"
		[attr.aria-checked]="value == options.NO"
		[class.button-pressed]="value === options.NO"

		(focused)="activate(options.NO)"
		(click)="activate(options.NO)"
	>
		No
	</button>

</div>
